{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Ecomerce Tutorial </title>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link rel ="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
<section id="page-header" class="about-header">
    <style>
        #page-header{
            background-image: url("{% static 'images/banner/banner.png' %}");
        }
    </style>
    <h2>#Know Us</h2>
   <p>We aim to become from the most successful brands in Egypt</p>
</section>

<section id="about-head" class="section-p1">
    <img src ="{% static 'images/about/pexels-karolina-grabowska-5632397.jpg' %}" alt="">
    <div>
        <h2>Who We Are?</h2>
        <hr class="h">
        <p>About Our company, it has offered an assortment of specialty apparel and accessories for men and women that 
            enables self-expression and empowers our customers to celebrate their individuality. 
            We aren’t just passionate about making great clothing, we’re passionate about making real connections with the people who wear them.

            We make intimates, apparel, activewear and swim. Every single piece is designed to make every girl feel good. 
            It is about no retouching. It’s about body positivity. It’s about empowerment. We want everyone to feel confident inside and out. 
            Let the real you shine.</p>
    </div>

</section>

</body>
</html>