{% extends 'base.html' %}
{% load static %}
{% block content %}
     <!-- <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
                {%for item in items%}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
                {% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	</div>

	<script>
		var shipping = '{{order.shipping}}'
		if(shipping == 'false'){
		  document.getElementsByClassName('cart-row').innerHTML = ''
		}
	  
		var form = document.getElementById('form')

		form.addEventListener('submit', function(){
			e.preventDefault()
			console.log('form submitted...')
			document.getElementById('form-button').classList.add('hidden')
			document.getElementById('payment-info').classList.remove('hidden')
		})
	</script>
	  
	</div> -->


	<!DOCTYPE html>
<html long="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    
    <link rel="stylesheet" href="style.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
     rel="stylesheet">

</head>
<body>
    <div class="wrapper">
        <h2>Payment Form</h2>
        <form method="POST">
            <h4>Account</h4>
            <div class="input-group">
                <div class="input-box">
                    <input type="text"
                    placeholder="Full Name" required
                    class="name">
                    <i class="fa fa-user icon"></i>
                </div>
               
            </div>
            <div class="input-group">
                <div class="input-box">
                    <input type="email"
                    placeholder="Email Adress" required
                    class="name">
                    <i class="fa fa-envelope icon"></i>
                </div>
            </div>
            <div class="input-group">
                <div clas="input-box">
                    <h4>Date of birth</h4>
                    <input type="text" placeholder="Day"
                    class="dob">
                    <input type="text" placeholder="Month"
                    class="dob">
                    <input type="text" placeholder="Year"
                    class="dob">
                </div>
                <div class="input-box">
                    <h4>Gender</h4>
                    <input type="radio" id="b1"
                    name="gendar" checked class="radio">
                    <label for="b1">Male</label>
                    <input type="radio" id="b2" name="gendar" class="radio">
                    <label for="b2">Female</label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <h4>Payment Details</h4>
                    <input type="radio" name="pay"
                    id="bc1" checked class="radio">
                    <label for="bc1"><span><i class="fa fa-cc-visa"></i> Credit Card
                    </span></label>
                    <input type="radio" name="pay"
                    id="bc2" class =radio>
                    <label for="bc2"><span><i class="fa fa-cc-paypal"></i>Paypal
                    </span></label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <input type="tel" placeholder="Card Number" required class="name">
                    <i class="fa fa-credit-card icon"></i>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <input type="tel" placeholder="Card CVC" required class="name">
                    <i class="fa fa-user icon"></i>
                </div>
                <div class="input-box">
                    <select>
                        <option>01 jun</option>
                        <option>01 jun</option>
                        <option>01 jun</option>
                    </select>
                    <select>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                    </select>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <button type="submit">Pay Now</button>
                </div>
            </div>
        </form>
    </div>


</body>
</html>
{% endblock content %}