{%extends "base.html"%}


{% block content %}

<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Register </h3>
		<div class="card-text">
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-info mt-0">
				{{ message }}

				</div>  
				{% endfor %}
	   
	 		{% endif %}
			 <form method="POST">
				 {% csrf_token %}

				<div class="mb-3">
					<label for="first-name" class="form-label">First Name</label>
					<input type="text" class="form-control w-25" id="first-name" name="first-name" aria-describedby="emailHelp" required >
					
				</div>
				<div class="mb-3">
					<label for="last-name" class="form-label">Last Name</label>
					<input type="text" class="form-control w-25" id="last-name" name="last-name" aria-describedby="emailHelp" required>
					
				</div>
	
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control w-25" id="first-name" name="username" aria-describedby="emailHelp" required >
					
				</div>

				<div class="mb-3">
					<label for="email-adress" class="form-label">Email address</label>
					<input type="email" class="form-control w-25" id="email-adress" name="email" aria-describedby="emailHelp" required>
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
				<div class="mb-3">
					<label for="mobile" class="form-label">Phone Number</label>
					<input  type="mobile" class="form-control w-25" id="mobile" name="mobile" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input  type="password" class="form-control w-25" id="password" name="password" required>
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Remember Me</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<div class="sign-up">
					Already have an account? <a href="{% url 'login'%}">Sign in</a>
				</div>
				</form>

			
		</div>
	</div>
</div>
</div>

{% endblock %}