{% extends 'base.html' %}
{% load static %}
{% block content %}
    

    <section id="products" class="section-p1">
      <div class="container">
        {%for product  in products %}
        <div class ="product">
            <img src="{{product.imageURL}}" alt="">
            <div class="description">
              <!--<span>Stradivairus</span>-->
              <h5>{{product.name}}</h5>
              <div class="Star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                 </div>
                 <h4> ${{product.price | floatformat:2}}</h4>
            </div>
            <a href ="#"> <i class="fal fa-shopping-cart"></i></a>
          </div>
          {%endfor%}
      </div>


    </section>
{%endblock content%}