{%extends "base.html"%}


{% block content %}

<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">your email is activated !! </h3>
		<div class="card-text text-center">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
			please login
		</div>
        <div class="text-center">
            <a class="btn btn.primary" style="border-color:black; color:blue" href ="{% url 'login'%}">Login</a>
        </div>
        
	</div>
</div>
</div>

{% endblock %}